.main {
  height: 40vh;
  width: 100vw;
  background-color: #1abc9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter {
  display: block;
  position: absolute;
  color:white;
  background-color:#2980b9;
  border-color: #2980b9;
  height: 100px;
  width: 600px;
  font-size: 3em;
}

.filter-list {
  background-color: #fff;
  list-style: none;
  margin-top: 25em;
  width: 600px;
  padding: 0;
}

.filter-list li {
  font-size: 2em;
  width: 100%;
  box-sizing:border-box;
  margin: 0 auto;
  display: inline-block;
  padding-left: 2em;
}

.filter-list li:hover {
  background-color: #f39c12;
  font-size: 2em;
}

.trails {
  height: 60vh;
  width: 100vw;
  background-color: #fff;
}

.trails-toolbar {
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2em;
  background-color: #1abc9c;
  color: white;
  font-size: 1.5em;
}

.trail {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}